/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer .inline li {
	font-size: 18px;
	margin-right: 15px;
	padding: 5px;
}

footer .inline a:hover {
	border-bottom: 2px solid #e7ab3b!important;
}
	
footer .footer-active {
	border-bottom: 2px solid #fff!important;
}

footer .inline li:last-child {
	margin-right: 0px;
}

.inline li{
display: inline;
list-style-type: none;
}

.card-title-custom {
	margin-top: -15px;
	margin-bottom: -5px;
}

.logo-side-nav {
	margin-top: 20px!important;
	margin-left: 10px;
}

.telefone-contato {
	margin-top: -50px;
	font-size: 18px;
}

img[title="social-link"] {
	margin-left: 10px;
}